body {
    font-family: Arial, sans-serif;
    background-color: #d7e1e9;
}

h1 {
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #e6f1f7;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px #3498db solid;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 103%;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #e6f1f7;
    border-collapse: collapse;
    border-radius: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #b3d4f2;
}

.delete-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #cc0000;
}

.alert {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.info {
    background-color: #cce5ff;
    color: #004085;
}

.warning {
    background-color: #fff3cd;
    color: #856404;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}


.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#remover{
    background-color: #ff0000;
    color: #fff;
    margin-top: 1px;
    margin-bottom: 2px;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {
    table {
        width: 100%;
        max-width: 100%;
    }

    form {
        width: 100%;
        max-width: 100%;
    }
}
